/* .App {
  text-align: center;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  display: flex;
  max-width: 90%;
  margin-bottom: 200px;
  margin-top: 30px;
}

.container-left {
  display: flex;
  flex-direction: column;
  width: 70vw;
}

.controls-header {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border: solid red 2px;
}

.controls {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
}

.controls-title {
  width: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.control-btns {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.control-display {
  width: 30%;
}

.newGameBtn {
  height: 30px;
}

.players {
  display: flex;
  border: solid red 2px;
}

.scoreboard {
  display: flex;
  flex-direction: column;
  border: solid red 2px;
  width: 20vw;
}


.players-box {
  display: flex;
  flex-direction: column;
}

.player-cards {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 30px;
}

.player-card {
  width: 10%;
  border: solid blue 2px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.player-card:after {
  padding-bottom: 100%;
}

.player-edit-btn-hide {
  visibility: hidden;
}

.player-edit-btn{
  visibility: visible;
  background: blue;
}

.addPlayerForm {
}

.hideAddPlayerForm {
  visibility: hidden;
}

.banked {
  background-color: red;
}

.score-card {
  width: 90%;
  display: flex;
  justify-content: space-around;
  max-height: 25px;
  border-bottom: red 1px solid;
}

input {
  width: 50px;
  height: 50px;
  font-size: large;
  text-align: center
} */
